.container {
  text-align: center;
  .buttons {
    display: inline-block;
  }
  .sideButtons {
    border: none;
    color: white;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}
