.container {
  label {
    color: #ffffff;
  }
  padding: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  max-width: 350px;
  background-color: #374045;
  border-radius: 30px;
  gap: 1rem;

  .form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    input {
      background-color: rgba(0, 0, 0, 0.08);
      color: #ffffff;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 10px 20px 10px 20px;
    }

    .buttonHolder {
      display: flex;
      flex-flow: row-reverse wrap;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      span {
        color: rgba(#ffffff, 0.7);
        flex: 1;
        font-size: small;
        max-width: 60%;
      }

      input {
        width: 95px;
        background-color: #d89216;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.2s, box-shadow 0.2s;
        &:hover {
          background-color: #e69b1b;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 80%;
    margin: auto;
  }
}
