.landingPage {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-color: #2c061f;
  justify-content: space-around;

  .title {
    font-family: 'Ubuntu', sans-serif;
    h1 {
      margin: 0;
      letter-spacing: 4px;
    }
    h2 {
      font-weight: 400;
      margin: 0;
    }
    color: #ffffff;
  }

  .loading {
    font-family: 'Ubuntu', sans-serif;
    h1 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 0.5rem;
    }
    h2 {
      display: none;
    }
    color: #ffffff;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 900px) {
  .landingPage {
    flex-flow: column nowrap;
    overflow-y: auto;
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
}
