@import './variables';

a {
  color: #fff;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c1c;
  width: 100%;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1c1c1c;
}

.navbar li a {
  display: block;
  padding: 1rem;
  border-right: 1px solid #383838;
  text-decoration: none;
}

.navbar li a:hover,
.navbar .menuButton:hover {
  background-color: #383838;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 0.25rem 1rem;

  a {
    text-decoration: none;
  }
}

/* navlist */

.navbar .navlist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: none;
  transition: max-height 0.2s ease-out;

  &:last-child {
    border-right: none;
  }

  .categories {
    flex-grow: 1;

    .ctitle {
      cursor: pointer;
      svg {
        position: relative;
        font-size: 0.75rem;
        top: 0.2rem;
      }
    }

    .cdropdown {
      display: none;

      .clist {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-flow: column;
        background-color: rgb(37, 37, 37);
        border: 1px solid #1c1c1c;
        min-width: 7.628rem;
        top: 3rem;
        right: 4.4rem;

        &:last-child {
          border-bottom: none;
        }

        li {
          list-style: none;

          a {
            border-right: none;
            border-bottom: 1px solid #1c1c1c;
          }
        }
      }
    }

    &:hover {
      .cdropdown {
        display: block;
      }
    }
  }
}

/* menu icon */

.navbar .menuIcon {
  cursor: pointer;
  display: none;
  padding: 1rem;
  user-select: none;
}

.navbar .menuIcon .navIcon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navbar .menuIcon .navIcon:before,
.navbar .menuIcon .navIcon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menuIcon .navIcon:before {
  top: 6px;
}

.navbar .menuIcon .navIcon:after {
  top: -6px;
}

/* menu btn */

.navbar .menuButton {
  display: none;
}

.navbar .menuButton:checked ~ .navlist {
  display: block;
  max-height: auto;
}

.navbar .menuButton:checked ~ .menuIcon .navIcon {
  background: transparent;
}

.navbar .menuButton:checked ~ .menuIcon .navIcon:before {
  transform: rotate(-45deg);
}

.navbar .menuButton:checked ~ .menuIcon .navIcon:after {
  transform: rotate(45deg);
}

.navbar .menuButton:checked ~ .menuIcon:not(.steps) .navIcon:before,
.navbar .menuButton:checked ~ .menuIcon:not(.steps) .navIcon:after {
  top: 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    li a {
      border-right: none;
    }

    .navlist {
      display: none;
      width: 100%;

      li {
        padding: 0;
      }

      .categories {
        padding: 0;

        .ctitle {
          padding: 1rem;
        }

        .cdropdown {
          .clist {
            position: static;
          }
        }
      }
    }

    .menuIcon {
      display: block;
    }
  }
}

@media (min-width: 769px) {
  .navbar .menuButton:checked ~ .navlist {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  .navbar {
    .container {
      flex-grow: 1;
    }
  }
}
