.container {
  margin-top: 50px;
  .header {
    padding: 10px;
    border-left: 1px solid white;
    color: #ffffff;
    font-family: 'Roboto';
    position: relative;
    display: inline-block;
    width: 100%;
  }
}
.emptyContainer{
  text-align: center;
  position: relative;
  .empty{
      color: #ffffff;
      font-family: 'Roboto';
      font-weight: normal;
  }
}
