.container {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .buttons {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .sideButtons {
    border: none;
    color: white;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}
